<div class="min-h-screen bg-gray-100 justify-center items-center p-6 mt-4">
  <h1 class="text-4xl font-bold mb-4 text-center">Welcome to Patiently</h1>
  <p class="text-lg text-center">
    Patiently is an intuitive application designed to manage patient records effortlessly. 
  </p>
  <p class="text-lg text-center mb-6">
    A web app for managing patient data where doctors and receptionists collaborate effectively.
  </p>
  <div class="text-center">
    <%= link_to 'Get Started', auth_login_path, class: "bg-blue-600 text-white font-bold py-2 px-4 rounded hover:bg-blue-700" %>
  </div>
</div>